@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaijaan+2&family=Bellota&family=Dancing+Script:wght@700&family=Fasthand&family=Jacques+Francois+Shadow&family=Jua&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@1,300&family=Raleway:wght@100&family=Source+Sans+Pro:wght@200&display=swap");
.karekare,
.sisig,
.hipon {
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.karekare {
  background-image: url(/recipes/pictures/karekare4-1.jpeg);
  background-size: 700px 900px;
  object-fit: cover;
}

.sisig {
  background-image: url(/recipes/pictures/crispy-pork-sisig-4.jpeg);
  background-size: 700px 900px;
}

.hipon {
  background-image: url(/recipes/pictures/ginataang-hipon-1-1.jpeg);
  background-size: 700px 900px;
}

.logocontainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 250px;
  width: 350px;
  margin: -50px 0px -50px 0px;
  overflow: hidden;
  flex: 0 0 auto;
}

.recipename {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-top: 60px;
  color: rgb(231, 145, 95);
}

.subsection {
  color: rgb(231, 145, 95);
}

.pot {
  height: 300px;
  width: 300px;
  margin: -100px 0px -100px -50px;
  overflow: hidden;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ultimatebox {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.box {
  display: flex;
  background-color: rgb(248, 246, 244);
  flex-direction: column;
  width: 700px;
  justify-content: flex-end;
  border-radius: 5px;
}

.description,
.ingredients,
.instructions {
  flex: 1 1 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Baloo Bhaijaan 2", cursive;
  color: rgb(158, 133, 120);
}

.description {
  margin-top: -105px;
  font-size: 25px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding-left: 160px;
}

.description,
.list {
  color: rgb(139, 114, 99);
}

.subsection {
  font-size: 25px;
  font-weight: bold;
}

.list {
  font-size: 18px;
}
