.logo {
  height: 500px;
  width: 700px;
  display: block;
  margin: 0 auto;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.brief {
  text-align: center;
  font-size: 25px;
}

.image {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border: 1px solid rgb(221, 217, 217);
  margin: 20px;
  flex: 1 1 auto;
}

.brief {
  color: rgb(158, 133, 120);
}
