.logo {
  height: 500px;
  width: 700px;
  display: block;
  margin: 0 auto;
}

.flexcontainer {
  display: flex;
}

.brief {
  text-align: center;
  font-size: 25px;
}

.image {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border: 1px solid rgb(221, 217, 217);
}
